<div id="header">
    <div id="logo-small-container">
        <a href="{{ root }}/"><img id="logo-small" src="{{ root }}/static/logo.svg" alt="Cookbook"></a>
    </div>
    <form id="header-search-form" role="search" action="{{ root }}/{{ active_lang }}/search">
        <input id="header-search-bar"
               type="text"
               name="query"
               aria-label="{% if query %}{{ query | escape }}{% else %}{{ localize("searchbar.hint") }}{% endif %}"
               value="{% if query %}{{ query | escape }}{% else %}{{ localize("searchbar.hint") }}{% endif %}">
        <input type="submit" value="&#x1F50D;" hidden>
    </form>
</div>
<hr class="divider">