{% extends "base.jinja2" %}
{% block title %}Cookbook{% endblock %}
{% block header %}Cookbook{% endblock %}
{% block content %}
    <div id="logo-big-container">
        <img id="logo-big" src="/cookbook/staticok/static/logo.svg" alt="Cookbook">
    </div>
    <div id="search">
        <form id="search-form" role="search" action="/{{ active_lang }}/search">
            <input id="search-bar"
                   type="text"
                   name="query"
                   aria-label="{{ localize("searchbar.hint") }}"
                   placeholder="{{ localize("searchbar.hint") }}">
            <input type="submit" value="&#x1F50D;" hidden>
        </form>
    </div>
    <div id="nav">
        <a href="/all">{{ localize("main.showall") }}</a>

        {% if langs|length > 1 %}
        {% for lang in langs %}
            {% if loop.index0 != 0 %}&middot;{% endif %}

            {% if lang == active_lang %}
                {{ lang }}
            {% else %}
                <a href="/{{ lang }}/">{{ lang }}</a>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}