{% extends "base.jinja2" %}
{% block title %}Cookbook{% endblock %}
{% block header %}Cookbook{% endblock %}
{% block meta %}
    <meta name="description" content="An online cookbook" />
    <meta property="og:title" content="{{ site_name }}" />
    <meta property="og:description" content="An online cookbook"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ base_url }}/static/logo.svg" />
    <meta property="og:url" content="{{ base_url }}/{{ active_lang }}/" />
    <meta property="og:locale" content="{{ active_lang }}" />
    <meta property="og:site_name" content="{{ site_name }}"/>
{% endblock %}
{% block content %}
    <div id="logo-big-container">
        <img id="logo-big" src="/static/logo.svg" alt="Cookbook">
    </div>
    <div id="search">
        <form id="search-form" role="search" action="/{{ active_lang }}/search">
            <input id="search-bar"
                   type="text"
                   name="query"
                   aria-label="{{ localize("searchbar.hint") }}"
                   placeholder="{{ localize("searchbar.hint") }}">
            <input type="submit" value="&#x1F50D;" hidden>
        </form>
    </div>
    <div id="nav">
        <div id="index-lang">
        {% if langs|length > 1 %}
        {% for lang in langs %}
            {% if loop.index0 != 0 %}&middot;{% endif %}

            {% if lang == active_lang %}
                {{ lang }}
            {% else %}
                <a href="/{{ lang }}/">{{ lang }}</a>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>

        <div id="index-helpful-links-large">
            <a href="/all">{{ localize("main.showall") }}</a>
            {% if most_common_tags %}
            &nbsp;&mdash;&nbsp;
            {{ localize("main.try-common-tags") }}
            {% for tag in most_common_tags %}
                {% if loop.index0 != 0 %}&middot;{% endif %}

                {% if lang == active_lang %}
                    {{ lang }}
                {% else %}
                    <a href="/search?query=tag%3A'{{ tag }}'">{{ tag }}</a>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <div id="index-helpful-links-small">
            <a href="/all">{{ localize("main.showall") }}</a>
            <hr />
            {{ localize("main.try-common-tags") }}
            {% for tag in most_common_tags %}
                {% if loop.index0 != 0 %}&middot;{% endif %}

                {% if lang == active_lang %}
                    {{ lang }}
                {% else %}
                    <a href="/search?query=tag%3A'{{ tag }}'">{{ tag }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}