{% extends "base.jinja2" %}
{% block title %}Cookbook{% endblock %}
{% block header %}Cookbook{% endblock %}
{% block content %}
    {% include 'header.jinja2' %}

    <div id="results">
        {% if not results %}
            No recipes found!
        {% else %}
            {% for recipe in results %}
                <div class="result">
                    <a class="result-image" href="/recipe/{{ recipe.id | urlencode }}"><img alt="An image of {{ recipe.name | escape }}" src="/cookbook/staticok/static/no-image.png"></a>
                    <a class="result-name" href="/recipe/{{ recipe.id | urlencode }}">{{ recipe.name }}</a>
                    <span class="result-description">{% if recipe.descr %}{{ recipe.descr }}{% endif %}</span>
                    <span class="result-tags">
                    {% for tag in recipe.tags %}
                        {% if loop.index0 != 0 %}, {% endif %}
                        <a class="result-tag" href="/search?query=tag%3A'{{ tag }}'">{{ tag }}</a>
                    {% endfor %}
                    </span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}