{% extends "base.jinja2" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block header %}{{ recipe.name }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ recipe.name }}{% if recipe.metadata.desc %} &#8211; {{ recipe.metadata.desc }}{% endif %}" />
    <meta property="og:title" content="{{ recipe.name }}" />
    {% if recipe.metadata.desc %}
    <meta property="og:description" content="{{ recipe.metadata.desc }}"/>
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ base_url }}/{{ book.image_path(recipe) }}" />
    <meta property="og:url" content="{{ base_url }}/{{ active_lang }}/recipe/{{ recipe.metadata.id }}" />
    <meta property="og:locale" content="{{ active_lang }}" />
    {% for lang in recipe_trans.translations.keys() %}
    {% if lang != active_lang %}
    <meta property="og:locale:alternate" content="{{ lang }}" />
    {% endif %}
    {% endfor %}
    <meta property="og:site_name" content="{{ site_name }}"/>
{% endblock %}
{% block content %}
    {% include 'header.jinja2' %}
    <script>
        format_num = function (num) {
            if (num == null) {
                return ""
            }
            if (num < 0.29)
                return "¼"
            else if (num < 0.4)
                return "⅓"
            else if (num < 0.6)
                return "½"
            else if (num < 0.7)
                return "⅔"
            else if (num <= 0.85)
                return "¾"
            else if (num <= 1)
                return "1"
            else if (num <= 1.85)
                return "1 " + format_num(num - 1)
            else if (num <= 2.15)
                return "2"
            else if (num <= 2.35)
                return "2 ¼"
            else if (num <= 2.65)
                return "2 ½"
            else if (num <= 2.85)
                return "2 ¾"
            else if (num <= 3.25)
                return "3"
            else if (num <= 3.75)
                return "3 ½"
            else if (num <= 4.33)
                return "4"
            else if (num <= 5)
                return "5"
            else
                return round_approximate(num).toString()
        }

        round_approximate = function(num) {
            num = Math.trunc(num)
            if (num === 0) {
                return "0";
            }

            // n-1 = number of digits before the decimal point
            const n = Math.floor(Math.log10(Math.abs(num)))
            // thus 10 ** (-n) aligns the leading digit to the "one" position
            // and 10 ** (-n + 2) aligns to three leading digits
            const p = -n + 2
            return Math.round(num * 10**p) * 10**(-p)
        }

        adjust_amounts = function (servings) {
            for (const element of document.getElementsByClassName("scalar")) {
                per_serving = element.getElementsByClassName("scalar-per-serving")[0].innerText;

                amount_elem = element.getElementsByClassName("scalar-amt")[0];
                if (per_serving === "None") {
                    amount_elem.innerText = "";
                } else {
                    amount_elem.innerText = format_num(parseFloat(per_serving) * servings);
                }
            }
        }

        increment_servings = function () {
            const servingsElem = document.getElementById("recipe-servings-amnt");
            let servings = parseFloat(servingsElem.innerText);
            servings += {{ recipe.metadata.servings_increment|safe }};
            servingsElem.innerText = format_num(servings);
            adjust_amounts(servings);
        }

        decrement_servings = function () {
            const servingsElem = document.getElementById("recipe-servings-amnt");
            let servings = parseFloat(servingsElem.innerText);
            if (servings >= {{ recipe.metadata.servings_increment|safe }}) {
                servings -= {{ recipe.metadata.servings_increment|safe }};
                servingsElem.innerText = format_num(servings);
                adjust_amounts(servings);
            }
        }
    </script>

    <div id="recipe" itemscope itemtype="https://schema.org/Recipe">
        <span id="recipe-title">{{ recipe.metadata.name }}</span>

        {% for tag in recipe.metadata.tags %}
            <meta itemprop="keywords" content="{{ tag }}"/>
        {% endfor %}

        <span id="recipe-frontmatter">
            {% if recipe.metadata.note %}
                <div class="recipe-note">{{ recipe.metadata.note }}</div>
            {% endif %}
            {% if recipe.metadata.related %}
                <div class="recipe-related">
                    Related recipes:
                    {% for related in recipe.metadata.related %}
                        {% if loop.index0 != 0 %}, {% endif %}
                    	<a href="/{{ root }}/{{ active_lang }}/{{ related }}">{{ book.by_id[related].get_name(active_lange) }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if recipe.metadata.attribution %}
                <div class="recipe-attribution">Based on <a href="{{ recipe.metadata.attribution }}">{{ recipe.metadata.attribution }}</a></div>
            {% endif %}
        </span>

        {% if recipe_trans.translations.keys()|length > 1 %}
        <span id="recipe-lang">
            {{ localize("recipe.languagehint") }}
            {% for lang in recipe_trans.translations.keys() %}
                {% if loop.index0 != 0 %}&middot;{% endif %}
                {% if lang == active_lang %}
                    {{ lang }}
                {% else %}
                    <a href="{{ root }}/{{ lang }}/recipe/{{ recipe.metadata.id }}">{{ lang }}</a>
                {% endif %}
            {% endfor %}
        </span>
        {% endif %}

        <span id="recipe-servings" itemprop="recipeYield" itemscope itemtype="https://schema.org/QuantitativeValue">
            {{ localize("recipe.servingshint") }}
            <button onclick="decrement_servings()">-</button>
            <span id="recipe-servings-amnt" itemprop="value">{{ recipe.metadata.serves }}</span>
            <button onclick="increment_servings()">+</button>
            {% if recipe.servings_unit %}<span itemprop="unitText">{{ recipe.metadata.servings_unit }}</span>{% endif %}
        </span>
        <!--
        <div id="recipe-servings-and-lang">


        </div>
        -->
        <div id="recipe-ingredients-container">
            <span id="recipe-ingredients-heading">{{ localize("recipe.ingredients.heading") }}</span>
            <div id="recipe-ingredients">
                {% for ingr in recipe.total_ingredients %}
                    <span class="ingr-amount scalar">
                        <span class="scalar-amt">{{ ingr.amount|format_num }}</span>
                        <span class="scalar-per-serving">{{ ingr.amount_per_serving }}</span>
                    </span>
                    <span class="ingr-unit">{% if ingr.unit %}{{ ingr.unit }}{% endif %}</span>
                    <span class="ingr-name" itemprop="recipeIngredient">{{ ingr.ingredient }}</span>
                {% endfor %}
            </div>
        </div>

        {% macro section(sect) %}
            <div class="recipe-section">
                <span class="recipe-section-heading">{{ sect.heading or "" }}</span>
                {% for step in sect.steps %}
                    <div class="step" itemprop="step" itemscope itemtype="https://schema.org/HowToStep">
                        <div class="step-ingredients">
                            {% for ingr in step.ingredients %}
                                <span class="step-ingr-hint">
                                    <span class="scalar">
                                        <span class="scalar-amt">{{ ingr.amount|format_num }}</span>
                                        <span class="scalar-per-serving">{{ ingr.amount_per_serving }}</span>
                                    </span> {% if ingr.unit %}{{ ingr.unit }}{% endif %} {{ ingr.ingredient }}
                                </span>
                            {% endfor %}
                            {% for ingr in step.internal_ingredients %}
                                <span class="step-ingr-hint">
                                    {{ ingr }}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="step-instructions" itemprop="text">
                            {% for part in step.instructions %}
                                {{ part|format_instr_part }}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endmacro %}


        {% for sect in recipe.sections %}
            {{ section(sect) }}
        {% endfor %}
    </div>
{% endblock %}