body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin: auto;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

#content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#logo-big-container {
    margin-top: 7vh;
}

#logo-big {
    height: 26vh;
}

#search {
    margin-top: 7vh;
    height: 100%;
}

#search-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#search-bar {
    font-size: 2em;
    height: 4rem;
    width: 48rem;
    padding: .5em;
    box-shadow: 0 4px 8px;
}

@media only screen and (max-width: 50rem) {
    #search-bar {
        font-size: 1.5em;
        height: 3rem;
        width: 80vw;
    }
}

#nav {
    margin-top: 1em;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-left: .5em;
    margin-bottom: .5em;
    border-top: 5px darkgray;
    font-size: 10pt;
}

#footer a {
    color: #7f7f7f;
}

