<div id="header">
    <div id="logo-small-container">
        <a href="/"><img id="logo-small" src="/static/logo.svg" alt="Cookbook"></a>
    </div>
    <div id="header-search">
        <form id="header-search-form" role="search" action="/search">
            <input id="header-search-bar"
                   type="text"
                   name="query"
                   aria-label="{% if query %}{{ query | escape }}{% else %}{{ localize("searchbar.hint") }}{% endif %}"
                   placeholder="{% if query %}{{ query | escape }}{% else %}{{ localize("searchbar.hint") }}{% endif %}">
            <input type="submit" value="&#x1F50D;" hidden>
        </form>
    </div>
</div>
<hr class="divider">